@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

body::after {
    content: '';
    height: 220px;
    width: 220px;
    position: absolute;
    background: url(img/bg.png) no-repeat;
    top: 0;
}

/* navbar */
nav .logo a {
    font-size: 48px;
    font-weight: 800;
    color: black;
    text-decoration: none;
}

nav .logo a:hover {
    color: black;
}

/* breadcrumb */
.breadcrumb {
    margin-top: 25px;
    margin-left: 128px;
}

.breadcrumb li a {
    font-weight: 300;
    color: black;
    text-decoration: none;
}

.breadcrumb li.active {
    color: #AEAEAE;
}

/* content */
.content .card {
    height: 280px;
    width: 280px;
}

.content .card .cardfooter {
    margin-top: 140px;
    height: 140px;
    padding-top: 40px;
    padding-left: 27px;
    border: 1px solid black;
}
/* footer */
.copyright {
    display: flex;
    align-items: center;
    justify-content: space-around;
}